$green:rgb(61, 196, 169);

.Rightbody{
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    // background:rgb(20,26,24);
    background: linear-gradient(to bottom,rgb(20,26,24) 20%, transparent 20% 100% );
    padding-top: 35px;
    width: 100vw;

    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgb(243, 243, 243);
        height: 60px;
        line-height: 60px;
        padding: 0 20px;

        .floating{
            display: none;     //ye wala popup button soche h rkhne ka
            position: absolute;
            top: 0;
            left: 20px;
            height: 35px;
            img{
                height: 100%;
            }
        }
        .leftpart, .rightpart{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .leftpart{
            margin-left: 10px;
            width: 185px;
            color: rgb(138, 138, 138);

            p{
                margin-top: 2px;
            }
            input{
                outline: none;
                border: none;
                background-color: inherit;
            }
        }
        .rightpart{
            width: 130px;
            margin-right: 20px;

            p{
                cursor: pointer;
                &:nth-child(1){
                    position:relative;
                    top: 3px;
                }
                &:nth-child(2){
                    width: 80px;

                    span{
                        margin:  0 5px;
                        position:relative;
                        top: 3px;
                    }
                }
            }
        }
    }
    .headerimg {
        height: 265px;

        img{
            width:100%;
            height: 265px;
        }
    }
    .rbody{
        display: flex;
        flex-direction: row;

        .infoside{
            background-color: rgb(243, 243, 243); 
            width: 450px;
            height: inherit;
            display: flex;
            flex-direction: column;
            align-items: center;


            .profilepic{
                height: fit-content;
                width: fit-content;
                position: relative;
                top: -75px;
                margin-bottom: -75px;
                background-color: rgb(243, 243, 243);
                border-radius: 50%;
                
                img{
                    border: 10px solid rgb(243, 243, 243); ;
                    height: 150px;
                    width: 150px;
                    border-radius: 50%;
                }
            }
            .nameinfo{
                margin-bottom: 80px;
                h2{
                    margin: 0 auto 10px auto;
                    width: fit-content;
                }
                .attributes{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    padding: 0 100px;
                    color: rgb(138, 138, 138);
                    margin-bottom: 20px;
                    span{
                        width: fit-content;
                    }
                }
                .follow{
                    display: flex;
                    justify-content: space-around;
                    padding: 0 60px;
                    color:$green;
                    font-weight: bold;
                    margin-bottom: 20px;
                    font-size: 1rem;

                    span{

                        .f-icons{
                            position: relative;
                            top: 3px;
                            margin: 8px;
                        }
                    }
                }
                .buttons{
                    display: flex;
                    justify-content: space-around;
                    padding: 0 60px;
                    height: 40px;
                    line-height: 40px;
                    font-weight: bold;
                    margin-bottom: 25px;
                    
                    a{
                        text-decoration: none;
                        color: #000;
                        background-color:$green;
                        padding: 0 20px;
                        border-radius: 20px;
                    }
                }
                .desc{
                    padding:0 30px;
                    text-align: justify;
                    margin-bottom: 25px;
                }
                .extras{
                    padding:0 30px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    span{
                        
                            color: $green;
                        
                        .extra-icons{
                            position: relative;
                            top: 3px;
                            margin: 0 5px;
                        }
                    }
                }
            }
            .gallery{
                width: inherit;
                .store, .photos{
                    display: flex;
                    flex-direction: column;
                    padding: 0 30px;
                    width: inherit;
                    margin-bottom: 40px;

                    .heading{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        font-weight: bold;
                        margin-bottom: 20px;
                        a{
                            text-decoration: none;
                            color: $green;
                        }
                    }
                    .body{
                        display: flex;
                        
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        
                        .cards{
                            width: 30%;
                            height: 27%;
                            // margin-right: 10px;

                            img{
                                width: 100%;
                                height: 100%;
                            }
                            .text{
                                font-size: small;
                            }
                            .tags{
                                font-size: 15px;
                            }
                        }
                    }
                }
                .photos{
                    margin-bottom: 15px;
                }
            }
        }
        .postside{
            width: 100%;
            background: rgb(248, 248, 248);
            padding: 0 20px;

            .rbody-header{
                display: flex;
                flex-direction: row;
                height: 70px;
                line-height: 70px;
                margin-bottom: 20px;

                section{
                    cursor: pointer;
                    margin: 0 40px 0 0;
                    padding: 0 5px;
                    &:nth-child(1){
                        
                        border-bottom: 2px solid $green;
                    }
                    .rh-icons{
                        position: relative;
                        margin: 3px 5px 0 0;
                    }
                    
                }
            }
            .search-row{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-weight: bold;
                margin-bottom: 50px;
            }
            .content{
                .card{
                    margin-bottom: 40px;
                    
                    .name-row{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        .name-row-left{
                            display: flex;
                            flex-direction: row;
                            margin-bottom: 10px;

                            img{
                                height: 50px;
                                width: 50px;
                                border-radius: 50%;
                                margin-right: 10px;
                            }
                            .name{
                                
                                font-size: 15px;
                                font-weight: 900;
                                margin-bottom: 5px;
                            }
                        }
                        .date{
                            // position: relative;
                            // left: 730px;
                            color: grey ;
                        }
                    }
                    section{
                        img{
                            width: 100%;
                            height: 450px;
                        }
                        .on-hover{
                            position: relative;
                            top: -455px;
                            margin-bottom: -455px;
                            height: 455px;
                            backdrop-filter: blur(5px);
                            opacity: 0;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-evenly;
                            align-items: center;
                            z-index: 50;
                            transition: 0.4s ease-in;
                            &:hover{
                                opacity: 1;
                            }

                            div{
                                background: $green;
                                height: 40px;
                                line-height: 40px;
                                padding:0 20px;
                                border-radius: 20px;
                            }
                        }
                    }
                    .response-row{
                        height: 40px;
                        line-height: 40px;
                        width: inherit;
                        margin-bottom: 10px;

                        span{
                            margin-right: 20px;
                        }
                        
                       
                        span:nth-child(4){
                            float: right;
                        }
                    }

                }
            }
        }
    }
}


@media (min-width:700px) and (max-width: 980px) {

    .Rightbody{
       .rbody{
           .infoside{
               max-width: 40% ;

               .nameinfo{
                   .buttons a{
                       transform:scale(0.75)
                   }
                   .desc, .extras{
                       margin: 0 auto;
                       width: 90%;
                   }
               }
               .gallery{
                    max-width: 100% ;
                    overflow-x:auto;

                    .store{
                        width: 90%;
                        margin: 0 auto;
                        margin-bottom:  40px;
                        padding: 0 0;
                    }
                    .photos{
                        width: 90%;
                        margin: 0 auto;
                        margin-bottom:  40px;
                        padding: 0 0;
                    }
                    
               }
           }
           .postside{
               .rbody-header{
                 section{
                     margin-right: 20px;
                 }
               }
           }
       }
    }
}

@media (min-width:280px) and (max-width: 700px) {

   .Rightbody .rbody{
        flex-direction: column;

        .infoside{
            width: 100%;
        }
    }

}
@media (min-width:280px) and (max-width: 500px) {

    .Rightbody{
        margin-left: 0;

        .rbody{
            .infoside{
 
                .nameinfo{
                    width: 100%;
                    .buttons a{
                        transform:scale(0.75)
                    }
                }
            }
        } 
        .header{
            .floating{
                display: block;
            }
        }   
    }
 
 }